<section>
  <div class="jumbotron jumbotron-fluid bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-sm-12 text-center text-white montserrat pt-3 pb-3">
          <h1 class="display-3 font-weight-bold">Get Started Today!</h1>
          <h4>Checkout all the exercises we offer</h4>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container-fluid pb-8">
    <div class="d-flex justify-content-center flex-wrap">
      <% @activities.each do |activity| %>
      <div class="card m-3" style="max-width:250px; min-width:220px;">
        <img src="<%= activity.image %>" class="m-auto pt-3 pb-4" style="width:100px;border-bottom:1px solid gray;">
        <div class="card-body pt-4 px-3">
          <h5 class="card-title"><%= activity.title %></h5>
          <h6 class="card-subtitle mb-2 text-muted small">Duration: <%= activity.duration %>  Difficulty: <%= activity.difficulty %>/5</h6>
          <p class="card-text txt-14"><%= activity.description %></p>
         <!--  <a href="#" class="card-link">Start</a> -->
          <%= link_to 'Start', new_activity_path(activity), class: "card-link" %>
        </div>
      </div>
      <% end %>

    </div>
  </div>
</section>