<nav class="navbar navbar-expand-lg navbar-light border-bottom">
  <div class="container">
    <% if !current_user %>
    <%= link_to 'Move and Groove', root_path, class: "navbar-brand font-weight-bold d-none d-sm-block" %>
    <a href="/" class="navbar-brand font-weight-bold  d-block d-sm-none">
      <img src="/img/moveandgroove.png" alt="moove and groove" class="img-fluid" style="width:60px;">
    </a>
    <% else %>
    <%= link_to 'Move and Groove', profile_path, class: "navbar-brand font-weight-bold d-none d-sm-block" %>
    <a href="/activity/profile" class="navbar-brand font-weight-bold  d-block d-sm-none">
      <img src="/img/moveandgroove.png" alt="moove and groove" class="img-fluid" style="width:60px;">
    </a>
    <% end %>
   <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse-v2 bg-white pb-2" id="navbarSupportedContent2">
    <div class="mobile-menu-container text-center text-lg-right">
      <a  data-target="#navbarSupportedContent2" class="menu-closebtn pointer pt-2 pr-4 txt-40">
        &times
      </a>
      <ul class="navbar-nav mobile-nav-v2 ml-auto w-100 w-lg-50 float-lg-right pb-0">
        <% if current_user %>
        <li class="nav-item ml-0 ml-lg-auto <%= current_page?(profile_path) ? 'active' : '' %>">
          <%= link_to 'Profile', profile_path , class: "nav-link" %>
        </li>
        <li class="nav-item <%= current_page?(activities_path) ? 'active' : '' %>">
          <%= link_to 'Activities', activities_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= current_page?(activities_path) ? 'active' : '' %>">
          <%= link_to 'StopWatch', timer_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete, class: "nav-link" %>
        </li>
        <% else %>
        <li class="nav-item ml-0 ml-lg-auto <%= current_page?(root_path) ? 'active' : '' %>">
          <%= link_to 'Home', root_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= current_page?(about_path) ? 'active' : '' %>">
          <%= link_to 'About', about_path, class: "nav-link" %>
        </li>
        <li class="nav-item <%= current_page?(new_user_registration_path) ? 'active' : '' %>">
          <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
         <%= link_to 'Sign In', new_user_session_path, class: "btn btn-primary mx-2 mt-lg-1 mb-lg-0 my-3 font-weight-bold" %>
       </li>
       <% end %>
     </ul>
   </div>
 </div>
</div>
</nav>