<nav class="navbar navbar-expand-lg navbar-light border-bottom">
   <div class="container">
     <%= link_to 'Move and Groove', root_path, class: "navbar-brand font-weight-bold" %>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent2" aria-controls="navbarSupportedContent2" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse-v2 bg-white pb-2" id="navbarSupportedContent2">
      <div class="mobile-menu-container text-center text-lg-right">
        <a data-toggle="collapse" data-target="#navbarSupportedContent2" class="menu-closebtn pointer pt-2 pr-4 txt-40">
          &times
        </a>
        <ul class="navbar-nav mobile-nav-v2 ml-auto w-100 w-lg-50 float-lg-right pb-0">
          <% if current_user %>
           <li class="nav-item ml-0 ml-lg-auto <%= current_page?(profile_path) ? 'active' : '' %>">
            <!-- <a class="nav-link" href="">About</a> -->
            <%= link_to 'Profile', profile_path , class: "nav-link" %>
          </li>
          <li class="nav-item <%= current_page?(new_activity_path) ? 'active' : '' %>">
            <!-- <a class="nav-link" href="#">Sign Up</a> -->
            <%= link_to 'Add Activity', new_activity_path, class: "nav-link" %>
          </li>
           <li class="nav-item <%= current_page?(activities_path) ? 'active' : '' %>">
            <!-- <a class="nav-link" href="#">Sign Up</a> -->
            <%= link_to 'Activities', activities_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= current_page?(activities_path) ? 'active' : '' %>">
            <!-- <a class="nav-link" href="#">Sign Up</a> -->
            <%= link_to 'StopWatch', timer_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <!-- <a class="nav-link" href="#">Sign Up</a> -->
            <%= link_to 'Sign Out', destroy_user_session_path, method: :delete, class: "nav-link" %>
          </li>
         <% else %>
          <li class="nav-item ml-0 ml-lg-auto <%= current_page?(about_path) ? 'active' : '' %>">
            <!-- <a class="nav-link" href="">About</a> -->
            <%= link_to 'About', about_path, class: "nav-link" %>
          </li>
          <li class="nav-item <%= current_page?(new_user_registration_path) ? 'active' : '' %>">
            <!-- <a class="nav-link" href="#">Sign Up</a> -->
            <%= link_to 'Sign Up', new_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
           <!--  <a class="btn btn-primary mx-2 my-lg-0 my-3 font-weight-bold" href="#">Sign in</a> -->
           <%= link_to 'Sign In', new_user_session_path, class: "btn btn-primary mx-2 mt-lg-1 mb-lg-0 my-3 font-weight-bold" %>
         </li>
         <% end %>
       </ul>
     </div>
   </div>
 </div>
</nav>